/tema 3/estructurales/Composite/nbproject/private/
/tema 3/estructurales/Composite/build/
/tema 3/estructurales/FlyweightDesign/nbproject/private/
/tema 3/estructurales/Flyweight/nbproject/private/
/tema 3/estructurales/Bridge/nbproject/private/
/tema 3/estructurales/Bridge/build/
/tema 3/estructurales/Bridge/dist/
/tema 3/estructurales/Flyweight/build/
/tema 3/estructurales/LabSOAP/nbproject/private/
/tema 3/comportamiento/ChainOfResponsability/nbproject/private/
/tema 3/comportamiento/Observer/nbproject/private/
/tema 3/comportamiento/Observer/build/
/tema 3/comportamiento/ChainOfResponsability/build/
/tema 3/comportamiento/Command2/target/
/tema 3/comportamiento/Memento2/target/
/tema 3/comportamiento/Strategy2/target/
/tema 3/comportamiento/Command/nbproject/private/
/tema 3/comportamiento/Command/build/
/tema 3/comportamiento/Memento/nbproject/private/
/tema 3/comportamiento/Strategy/nbproject/private/
/tema 3/comportamiento/Strategy/build/
/tema 3/comportamiento/Memento/build/
/tema 3/comportamiento/Iterator/nbproject/private/
/tema 3/comportamiento/Iterator/build/