# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/tema 3/comportamiento/Mediator/nbproject/private/
/tema 3/comportamiento/Mediator/build/
/tema 3/comportamiento/TemplateMethod/nbproject/private/
/tema 3/comportamiento/Visitor/nbproject/private/
/tema 3/comportamiento/State/nbproject/private/
/tema 3/comportamiento/State/build/
/tema 3/comportamiento/TemplateMethod/build/
/tema 3/comportamiento/Visitor/build/
/clases/relacion Has/nbproject/private/
/PrimerParcial/ProxyCola12/nbproject/private/
/PrimerParcial/ProxyCola12/build/
/PrimerParcial/PrototypeCelular22/nbproject/private/
/PrimerParcial/Zoologico/nbproject/private/
/PrimerParcial/Zoologico2/nbproject/private/
/PrimerParcial/Zoologico3/nbproject/private/
/Alimentos/nbproject/private/
/Alimentos/build/